.header{
    top: 40px !important;
}

/* Introduction */

.introduction{
    padding: 3rem 0;
}

.introduction .cover{
    margin: 0 160px;
    padding: 48px 25px;
}


.introduction .cover .row{
    align-items: center;
}

.introduction .row .intro_left h4{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    opacity: 0.9;
}
.introduction .row .col-7 .intro_right{
    padding: 0 10px 0 40px;
}
.introduction .row .intro_right .intro_paragraph{
    margin-bottom: 30px;
}

/* History */
.history{
    padding: 3rem 0;
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    position: relative;  
    z-index: 1; 
}
.history::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 4, 8, 0.69);

    z-index: -1;
}


.history .container .cover{
    margin: 0 160px;
    margin-left: auto;
    padding: 48px 25px; 
     max-width: 680px; 
    text-align: left;
}
.history .container .cover p{
    color: #fff;
    opacity: 0.7;
}
.history .container .cover .title h3 , .history .container .cover .row .col-3 .col__content h5 {
 color: white !important;
}
.history .container .cover .row{
    margin-top: 40px;
}