.header{
    top: 40px !important;
}
.about__banner{
    margin-top: 90px;
    background-image: url(../img/banner4.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    position: relative;     
    align-items: center;
    padding: 1em 0;
    z-index: -2;
    
}
.about__banner::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    background-color: #0c0c0c;
    opacity: .6;
    z-index: -1;
}

.about__banner .content{
    padding: 3rem 0;
    color: #fff;
    text-align: center;
}

.about__banner .content h2{
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.about__banner .content .ab__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__banner .content .ab__content p:first-of-type{
    color: #189A46;
    margin-right: 10px;

}

.about__banner .content .ab__content i{
    color: #fff;
    font-size: 12px;
   
}

.about__banner .content .ab__content p:last-of-type{
    color: #fff;
    margin-left: 10px;
}

/* Introduction */

.introduction{
    padding: 3rem 0;
}

.introduction .cover{
    margin: 0 160px;
    padding: 48px 25px;
}


.introduction .cover .row{
    align-items: center;
}

.introduction .row .intro_left h4{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    opacity: 0.9;
}
.introduction .row .col-7 .intro_right{
    padding: 0 10px 0 40px;
}
.introduction .row .intro_right .intro_paragraph{
    margin-bottom: 30px;
}