*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Jost', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

body, a, button, .btn {
    cursor: pointer !important;
    font-family: 'Jost', sans-serif;
}
p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: 'Jost', sans-serif;
}
.container{
    max-width:1520px ;
    margin: auto;
}

/* Header */
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 6;
    background-color: white;

}

.header .container .navbar .container-fluid{
    justify-content: space-around !important;
}

.header .navbar-collapse{
    flex-grow:initial;
}

a.navbar-brand {
    font-size: 34px;
    font-weight: 600;
    color: #189A46;
}

a.navbar-brand:hover {
    color: #189A46;
}

.navbar-nav .nav-item a.active{
    color: #189A46 !important;
}

li.nav-item {
    margin: 0 9px;
   
}

.header .navbar-nav .nav-item a.nav-link{
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #000c04;
}

.header .navbar-nav .nav-item a.nav-link::before{
    content: "";
    position: absolute;
    background-color: #189A46;
    height: 1px;
    width: 0;
    left: 8px;
    bottom: 7px;
    transition: all 0.3s;
}

.header .navbar-nav .nav-item a.nav-link:hover::before{
    width: 80%;
}



.header .navbar-nav .nav-item .nav-link:hover{
    color: #189A46;
}

.dropdown-toggle::after{
    content: none;
}

a.dropdown-item:hover{
    background-color:#189A46 ;
    color: white;
}

/* End of Header */

/* Title */
.title h6{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f53626;
    margin-bottom: 5px;
}

.title h3{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

/* End of Title */



